








*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

}

.diva{
    width: 100%;
    height: 100vh;
    background-image: url(./image/11111111111111.png);
    background-size: 100% 100%;
    
}
h2{
    color: white;
}

.logi{
    align-items: center;
    border: 2px solid rgb(234, 230, 230);
    position: absolute;
    top: 25%;
    left: 740px;
    height: 500px;
    width: 400px;
    background-color: rgba(255,255, 255, 10%);
    border-radius: 20px;
    backdrop-filter:blur(10px);
    align-items: center;
}

.code{
    
    margin-left: 50px;
}
.function{
    color: white;
    font-style: italic;
}
.withyou{
    padding: 8px 120px 8px 0px;
    border-radius: 5px;
    border: 0px;
}

.bangla > a{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;

}

.ke{
    padding: 7px 120px;
    margin-top: 10px;
    background-color: brown;
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
    transition: 1s;
}
.ke:hover{
    background-color: rgb(15, 23, 31);
    border-radius: 30px;
    transition: 1s;
}


.loginwith{
    color: aliceblue;
    margin-left: 90px;
}

.logo > a{
    color: rgb(216, 51, 51);
    border: 0px;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: aliceblue;
    transition: 1s;
}

.logo > a:hover{
    background-color: rgb(25, 34, 34);
    color: aliceblue;
    transition: 1s;
    border-radius: 20px;
}


.donthav{
    color: aliceblue;
    margin-right: 4px;
}

.donthav >a{
    color: rgb(230, 9, 42);
    text-decoration: none;
}

